/* universal */
* {
  /* padding: 0; */
  margin: 0;
}
/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
main {
  max-width: 1140px;
  margin: 0px auto;
}
.theme-color {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  margin-bottom: 0;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
}
main section {
  margin-top: 130px;
}

/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 225px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #474747;
}
nav li {
  list-style: none;
  margin-right: 51px;
}

/* header related styles */
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left center;
}
.navigation-tab {
  padding: 50px 0 0 30px;
}

nav > h1 {
  font-size: 45px;
}
.banner {
  padding: 30px 30px 0px 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 584px;
  height: 676px;
  margin-top: 47px;
  margin-right: 60px;
}
.banner-content {
  align-items: center;
  width: 560px;
  /* margin-right: 300px; */
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-discription {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #474747;
}

.banner .btn-primary {
  margin-right: 30px;
}
.contact-button {
  background-color: transparent;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
}

/* main section styles */

/* about section styles */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;
}

.section-discription {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.about-info {
  text-align: center;
}
#what-i-do-discrip {
  padding: 30px 110px;
}
/* S K I L L S */
.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.skills {
  padding: 35px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-img {
  margin-bottom: 20px;
}
.skill-title {
  margin-bottom: 20px;
}
.skill-discription {
  color: var(--dark-03, #757575);
  font-size: 16px;
  font-weight: 400;
}
/* resume styles */

.resume-container {
  display: flex;
  gap: 70px;
  margin-top: 130px;
}

.resume-column-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}

.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.resume-item-institute {
  margin: 15px 0;
}
.resume-item-institute,
.resume-item-description {
  color: #757575;
}

.resume-container hr {
  margin: 30px 30px 30px 0px;
}
.cv-download-btn {
  text-align: center;
  margin-top: 50px;
}

/* footer styles */

footer {
  display: flex;
  background: #fff8f3;
  padding: 130px 230px;
  margin-top: 110px;
}
.footer-items {
  width: 50%;
  margin-right: 50px;
}

footer div > p {
  margin-top: 30px;
}
.social-links {
  margin-top: 30px;
}
.social-links a {
  margin-right: 24px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
textarea {
  display: block;
  margin-bottom: 40px;
  padding: 18px 350px 18px 30px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  background: #fff;
  border: 0;
}
